{
  "env": {
    "node": true,
    "es2021": true,
    "jest/globals": true
  },
  "extends": ["eslint:recommended", "prettier", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  }
}
