name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 2.x

      - name: Run test
        run: deno test --allow-env --allow-read
